
*~
*.pyc
.vagrant/machines
settings.py
static/CACHE
static/uploads
static/up
.xapian
vendor/djangobb/djangobb/static/forum/avatars/
dump.rdb
.idea
*.class
.externalToolBuilders
build.xml
.actionScriptProperties
.flexProperties
.settings
bin-debug
html-template
bin-release
.classpath
.project
bin
*.iml
.python-version
*.log
venv/
